fastapi==0.115.4
uvicorn==0.31.1
yfinance==0.2.44
pandas==2.2.2
google-cloud-bigquery==3.25.0
google-cloud-logging==3.10.0
pyarrow==17.0.0
pandas-gbq==0.24.0
pandas-datareader==0.10.0
finnhub-python==2.4.18
